Repository keisler-au/bingo-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

exclude: "node_modules/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        files: \.(j|t)sx?|css|html|md|json$
        entry: bash -c "npx prettier . --write --log-level warn"

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: system
        files: \.[jt]sx?$
        entry: bash -c "npx eslint . --fix"

fail_fast: true

React native testing dev dependency conflicts resolved
  README.md
  __tests__/components/Join.test.tsx
  __tests__/components/Play.test.tsx
  __tests__/services.test.ts
  __tests__/utils/displayText.test.ts
  __tests__/utils/gameActions.test.ts
  __tests__/utils/useGameEntry.test.ts
  app.json
  app/components/Carousel.tsx
  app/components/CarouselItem.tsx
  app/components/CompleteTaskModal.tsx
  app/components/CreateProfileModal.tsx
  app/components/EditableGrid.tsx
  app/components/FailedConnectionModal.tsx
  app/components/GameGrid.tsx
  app/components/Home.tsx
  app/components/IconHeader.tsx
  app/components/Join.tsx
  app/components/Play.tsx
  app/components/Publish.tsx
  app/components/Settings.tsx
  app/components/VerticalReel.tsx
  app/constants.ts
  app/index.tsx
  app/services.ts
  app/templateFixtures.ts
  app/types.ts
  app/utils/displayText.ts
  app/utils/gameActions.ts
  app/utils/useGameEntry.ts
  package-lock.json
  package.json
  src/constants.ts
Due: prettier, eslint

Prebuild native code as build solution, patch applied to dependency upon upgrading to RN0.77.0
  app.json
  app/components/Carousel.tsx
  app/components/EditableGrid.tsx
  app/components/Home.tsx
  app/components/IconHeader.tsx
  app/components/Play.tsx
  app/components/VerticalReel.tsx
  app/constants.ts
  app/fixtures/templates.ts
  app/services.ts
  eas.json
  ios/.gitignore
  ios/.xcode.env
  ios/Podfile
  ios/Podfile.properties.json
  ios/app.xcodeproj/project.pbxproj
  ios/app.xcodeproj/xcshareddata/xcschemes/app.xcscheme
  ios/app/AppDelegate.h
  ios/app/AppDelegate.mm
  ios/app/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
  ios/app/Images.xcassets/AppIcon.appiconset/Contents.json
  ios/app/Images.xcassets/Contents.json
  ios/app/Images.xcassets/SplashScreenBackground.colorset/Contents.json
  ios/app/Images.xcassets/SplashScreenLogo.imageset/Contents.json
  ios/app/Images.xcassets/SplashScreenLogo.imageset/image.png
  ios/app/Images.xcassets/SplashScreenLogo.imageset/image@2x.png
  ios/app/Images.xcassets/SplashScreenLogo.imageset/image@3x.png
  ios/app/Info.plist
  ios/app/SplashScreen.storyboard
  ios/app/Supporting/Expo.plist
  ios/app/app-Bridging-Header.h
  ios/app/app.entitlements
  ios/app/main.m
  ios/app/noop-file.swift
  package-lock.json
  package.json
  patches/react-native-simple-bottom-sheet+1.0.4.patch
  react-native.config.js
Due: prettier, eslint

Updated profile modal navigation, vertical reel collapse and join game on navigation to Home, saveGameToStorage, postInstall script
  app/components/IconHeader.tsx
  app/components/Join.tsx
  app/components/Play.tsx
  app/components/VerticalReel.tsx
  app/utils/gameActions.ts
  package-lock.json
  package.json
Due: prettier, eslint

Refactored onDisplay press
  app/components/GameGrid.tsx
  app/components/Play.tsx
  app/utils/displayText.ts
  app/utils/gameActions.ts
Due: prettier, eslint

Settings page built
  app/components/Carousel.tsx
  app/components/CarouselItem.tsx
  app/components/Feedback.tsx
  app/components/GameGrid.tsx
  app/components/Home.tsx
  app/components/IconHeader.tsx
  app/components/Join.tsx
  app/components/Play.tsx
  app/components/Publish.tsx
  app/components/ScreenBackground.tsx
  app/components/Settings.tsx
  app/components/VerticalReel.tsx
  app/components/settingsUtils.tsx
  app/constants.ts
  app/index.tsx
  app/services.ts
  app/utils/gameActions.ts
  app/utils/useGameEntry.ts
  package-lock.json
  patches/react-native-simple-bottom-sheet+1.0.4.patch
Due: prettier, eslint

Added error handling message and capture range > 399 and fixed Profile name display bug
  app/components/CreateProfileModal.tsx
  app/services.ts
  app/utils/useGameEntry.ts
Due: prettier, eslint

Improved error logging for http service
  app/services.ts
Due: prettier, eslint

Updated README.md
  assets/bingo_home.jpg
  assets/bingo_play.jpg
  assets/bingo_publish.jpg
Due: none

Updated README.md
  README.md
Due: prettier

Resized README images
  README.md
Due: prettier

Changed expo-secure-storage to react-native-storage
  README.md
  __tests__/utils/gameActions.test.ts
  app/components/CreateProfileModal.tsx
  app/components/Join.tsx
  app/components/Play.tsx
  app/utils/gameActions.ts
  app/utils/useGameEntry.ts
  jest.setup.js
  package-lock.json
  package.json
Due: prettier, eslint

Add kotlin-compose-compiler-gradle-plugin to build.gradle
  android/build.gradle
Due: none

Updated gradle compiler plugin, fixed update_task websocket bug, updated splac_icon.jpg
  android/app/build.gradle
  android/build.gradle
  app/components/Play.tsx
  app/components/Settings.tsx
  app/services.ts
  assets/images/splash-icon.png
  assets/images/splash_icon.jpg
Due: prettier, eslint

Added 2.0.0 to kotlin gradle plugin at project level, added apply jetbrains kotlin compose plugin and compose support config at module level
  android/app/build.gradle
  android/build.gradle
  eas.json
Due: prettier

Added buildType apk to eas.json and changed to 2.0.0 plugin in ext in project level build file
  android/build.gradle
  eas.json
Due: prettier

Updated to Kotlin 2.0.0 successful
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  package-lock.json
  package.json
Due: prettier

Error logging uplift
  app/services.ts
Due: prettier, eslint

Added jsEngine config to sync native code not using Hermes
  app.json
Due: prettier
